header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/*========================CTA===============================*/
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*======================== HEADER SOCIALS===============================*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*======================== ME ===============================*/
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 12rem;
  /* height: 100%; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  border-radius: 3rem;

  /* border-radius: 12rem 12rem 0 0; */
  /* margin-top: 2rem; */
  /* overflow: hidden;
  padding: 1.5rem 1.5rem 1.5rem; */
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 3rem;
}

#mac {
  animation: anime 1s infinite ease-in-out alternate;
  -webkit-animation: anime 1s infinite ease-in-out alternate;
  animation-delay: 0.3s;
}

@keyframes anime {
  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    box-shadow: 0 40px 10px -18px rgba(0, 0, 0, 0.2),
      0 40px 16px -12px rgba(0, 0, 0, 0.2);
  }
}

/*======================== SCROLL DOWN ===============================*/
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ===============MEDIA QUERIES(MEDIUM DEVICES)=======================*/
@media screen and (max-width: 1025px) {
  header {
    height: 68vh;
  }
}

/* ===============MEDIA QUERIES(SMALL DEVICES)=======================*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
